.navbar {
  background-color: black;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
  
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.logo img {
  height: 50px; /* Ajuste a altura conforme necessário */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 1s;
}
.nav-links li a:hover {
color: rgba(7, 157, 187, 0.644);
}

.conatiner {
  width: 100%;
  height: 45rem;
  background-image: url(../img/Empresa_escurecida.png.png);
  object-fit: cover;
  justify-content: center;
  align-items: center;

}

.buttonem-wh button {
  width: 15rem;
  padding: 5px;
  font-size: 2rem;
  margin: 5rem 5rem 2rem;
  border-radius: 8px;
  transition: background-color 1s ease;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  animation: test 2s infinite; /* Adiciona a animação de pulsação */
}

@keyframes test {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
  }
button:hover {
  background: rgb(6, 245, 165);
}
form {
  background-color: #fff;
  padding: 30px;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.933);
  width: 39%;
  margin: auto;
}

.title-formulario {
  margin-top: 0;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.paragraph-formulario {
  text-align: center;
  color: #666;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(22, 141, 220, 0.775);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.section-veja-mais {
  height: 120vh;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
textarea {
  width: 20rem;
  margin:  2rem auto;
  height: 9rem;
  display: block;
  border-radius: 5px;
  text-align: center;
}
